html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  color: #ff9e2f;
}
.brand {
  font-weight: 600;
  font-size: 1.15rem;
  color: #ff9e2f;
}
